<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         version="3.0">

    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>fr.bbougon.iris.web.ressources.MonApplication</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <listener>
        <listener-class>fr.bbougon.iris.entrepot.mongo.ContextListener</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>